{
    "extends": ["react-app"],
    "rules": {
        "curly": ["error", "all"],
        "max-lines-per-function": ["error", 1500],
        "max-params": ["error", 4],
        "testing-library/no-container": "off",
        "testing-library/no-node-access": "off",
    },
}
