.container {
  margin: 0.5rem auto 2rem auto;
  width: 80%;
  &__link {
    display: flex;
    justify-content: center;
    font-size: 2rem;
  }
  &__image {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }
}
.tags {
  margin-top: 1rem;
}
.actionBar {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 2rem;
  top: 5rem;
}
.buttonSpacer {
  margin-bottom: 1rem;
}
.buttonSpacerX4 {
  margin-bottom: 4rem;
}
.dialog {
  & :global(.MuiPaper-root) {
    width: 20vw;
  }
}
.messageAlert {
  width: 100%;
}
