.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  & :global(.MuiButtonBase-root) {
    margin-top: 1rem;
  }
}
.icon {
  color: red;
  height: 4rem;
  margin-right: 1rem;
  width: 4rem;
}
